.owl-title {
  margin-bottom: 20px;
  padding: 20px;
}

.img {
  height: 260px;
  width: 100%;
}

.owl-dots {
  display: none;
}

.owl-theme {
  div {
    &.owl-nav {
      background-color: $pri-bg;
      margin-top: 0;
      position: absolute;
      right: 0.744853399875234%; // sass-lint:disable-line leading-zero
      top: -11.4728337236534%;
    }
  }
}

.owl-nav {
  button {
    span {
      font-size: 32px;
    }
  }
}
